<template>

    <div id="h1">
        <h1>Об авторе</h1>
        <p>{{post}}</p>
    </div>
</template>

<script>
    import {SERVER} from "../server-coordinator";

    export default {
        data: function() {
            return {
                post: ""    };
        },
        name: "AuthorInfo",
        props:{
            id:{
                require:true,
                type:Number
            }
        },
        created() {
            const http= SERVER.defaults.baseURL + "/users/authors/info?id="+this.id;
            this.$http.get(http).then(res=>{this.post=res.body})
            console.log(this.post);
        }
    }
</script>

<style scoped>
    #h1 {
        /*width: 400px;*/
        /*margin-left: 300px;*/
        /*margin-top: 300px;*/
        /*border: 1px solid slategrey;*/
    }
</style>