<template>
    <div id="whole-avatar">
        <div id="avatar">
            <img id="ava" :src="photo">
        </div>
        <div id="text">
            {{nick}}
        </div>
    </div>
</template>

<script>
    import {SERVER} from "../server-coordinator";

    export default {
        name: "AuthorAvatar",
        data: function() {
            return {
                nick: "asdad"    };
        },
        props: {
            id: {
                require: true,
                type: Number
            }
        },
        computed: {
            photo() {
                const result = SERVER.defaults.baseURL + "/users/authors/photo?id=" + this.id;
                console.log(result);
                return result;
            },
        },
        created() {
            const http= SERVER.defaults.baseURL + "/users/authors/author?id="+this.id;
            this.$http.get(http).then(res=>{this.nick=res.body.name})
            console.log(this.post);
        }

    }
</script>

<style scoped>
    #whole-avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;
    }

    #avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #ava {
        height: auto;
        max-width:100%;
    }

    #text {
        width: 100px;
        margin: 10px auto 0;
        font-size: 30px;
        font-weight: bold;
        color: black;
    }

</style>