<template>
    <BasePage>
        <div class="buttons-container" v-if="isMyPage">
            <button class="neutral-button" style="margin-left: 10px" @click="invite">Invite</button>
            <router-link tag="button" to="/settings" class="neutral-button" style="margin-left: 10px">Edit</router-link>
            <button class="neutral-button" style="margin-left: 10px" @click="logout">Logout</button>
        </div>
        <div id="information" v-if="author">
            <div id="avatar">
                <img id="ava" @error="setDefaultPhoto(true)" :src="photo">
                <div id="nick">
                    {{author.name}}
                </div>
            </div>

            <div class="reading-category">
                <div class="reading-category-title">Об авторе</div>
                <div id="about">
                    {{author.info}}
                </div>
            </div>

            <div class="reading-category" v-if="author.socialNetworks.length">
                <div class="reading-category-title">Соцсети</div>
                <div class="lnk social-link" style="display: inline-block; margin-right: 10px" v-for="(elem, index) in filteredSocial" :key="index">
                    <a target="_blank" rel="noopener noreferrer" :href="'//' + elem.link">

                        <img class="network-logo" :src="socialToImg[elem.title.toLowerCase()]">
                    </a>
                </div>
            </div>
        </div>
    </BasePage>
</template>

<script>

    import BasePage from "../common/BasePage";
    import {getCookie} from "../../main";
    // eslint-disable-next-line no-unused-vars
    import {SERVER} from "../server-coordinator";
    import "@/styles/buttons.css";
    import "@/styles/reading_block.css";

    export default {
        name: "AuthorPage",
        components: {BasePage},
        data() {
            return {
                isMyPage: false,
                author: undefined,
                defaultPhoto: false,
                socialToImg: {
                    vk: require("@/assets/vk-logo.svg"),
                    facebook: require("@/assets/facebook-logo.svg"),
                    instagram: require("@/assets/instagram-logo.svg"),
                    twitter: require("@/assets/twitter-logo.svg"),
                }
            }
        },
        computed: {
            id() {
                return Number(this.$route.params.id)
            },
            photo() {
                return this.defaultPhoto ? require("@/assets/avatars/default.jpg") : SERVER.defaults.baseURL + "/users/authors/avatar?id=" + this.id
            },
            filteredSocial() {
                if (!this.author.socialNetworks.length)
                    return []

                const valid = ["vk", "instagram", "facebook", "twitter"]

                return this.author.socialNetworks.filter(elem => valid.indexOf(elem.title.toLowerCase()) >= 0 && elem.link)
            },
            socialToObj() {
                if (!this.author.socialNetworks.length)
                    return {}


                const social = {}

                const validSocialNetworks = ["vk", "instagram", "facebook", "twitter"]

                this.author.socialNetworks.forEach(elem => {
                    const lower = elem.title.toLowerCase()
                    if (validSocialNetworks.indexOf(lower) >= 0) {
                        social[lower] = elem.link
                    }
                })

                return social
            },
        },
        methods: {
            load() {
                SERVER
                    .get("/users/authors/author", {
                        params: {
                            id: this.id
                        }
                    })
                    // eslint-disable-next-line no-unused-vars
                    .then(response => {
                        this.author = response.data
                    })
            },
            logout() {
                SERVER
                    .post("/users/logout")
                    // eslint-disable-next-line no-unused-vars
                    .then(response => {
                        this.$router.go(0)
                    })
            },
            setDefaultPhoto(value) {
                this.defaultPhoto = value
            },
            invite() {

                const email = window.prompt("Input email address of a person you want to invite")

                if (!email)
                    return

                const text = window.prompt("Input request text")

                SERVER.post("/email/send", null, {
                    params: {
                        address: email,
                        text: text,
                    }
                });
            },
        },
        // eslint-disable-next-line no-unused-vars
        beforeRouteEnter(to, from, next) {

            const localId = getCookie(document, "id")

            console.log("id", localId)

            if (to.params.id === '0') {
                next("/author/" + localId)
                return
            }

            SERVER.get("/users/validate", {
                withCredentials: true
            })
                // eslint-disable-next-line no-unused-vars
                .then(response => {
                    next(vm => {
                        vm.isMyPage = true
                    })
                })
                // eslint-disable-next-line no-unused-vars
                .catch(e => {
                    next()
                })


            // if (localId === to.params.id) {
            //     SERVER.get("/users/validate")
            //         // eslint-disable-next-line no-unused-vars
            //         .then(response => {
            //             next(vm => {
            //                 vm.isMyPage = true
            //             })
            //         })
            //         // eslint-disable-next-line no-unused-vars
            //         .catch(e => {
            //             next()
            //         })
            // } else {
            //     next()
            // }
        },
        created() {
            this.load()
        }
    }
</script>

<style scoped>
    #information {
        z-index: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #ava {
        height: auto;
        max-width: 200px;
        margin: 0 auto;
    }

    #nick {
        margin-top: 10px;
        font-size: 30px;
        font-weight: lighter;
        color: black;
        font-style: italic;
    }

    #about {
        font-size: 18px;
    }

    .social-link {
        font-size: 20px;
    }

    .buttons-container {
        display: flex;
        justify-content: flex-end;
    }

    .network-logo {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
    }
</style>