<template>
    <div>
        <h1>Соцсети:</h1>
        <p>{{post}}</p>
    </div>
</template>

<script>
    import {SERVER} from "../server-coordinator";

    export default {
        name: "AuthorNetworks",
        data: function() {
            return {
                post: "null"    };
        },
        props:{
            id:{
                require:true,
                type:Number
            }
        },
        created() {
            const http= SERVER.defaults.baseURL + "/users/authors/social_networks?id="+this.id;
            this.$http.get(http).then(res=>{this.post=res.body})
            console.log(this.post);
        }
    }
</script>

<style scoped>

</style>