<template>
    <div class="search-item-full">
        <router-link :to="link">
            <ImageHelper class="search-preview-image" :article-code="article.config.code" :image-code="article.config.preview" />
        </router-link>
        <div class="search-preview-text-block">
            <div style="padding-bottom: 10px">
                <ArticleType :value="article.config.type" />
                <Tag
                        v-for="(tag, index) in article.config.tags"
                        :key="index"
                        :value="tag" />
            </div>
            <router-link :to="link">
                <div class="search-preview-title">{{article.config.name}}</div>
            </router-link>
            <div class="search-item-date">{{new Date(article.config.lastModifiedDate).toLocaleDateString("ru")}}</div>
        </div>
    </div>
</template>

<script>

    import ImageHelper from "../common/ImageHelper";
    import ArticleType from "../article/reading/ArticleType";
    import Tag from "../article/reading/Tag";

    import "../../styles/article.css"

    import {getArticleUrl} from "../../main";

    export default {
        name: "SearchItem",
        components: {ImageHelper, ArticleType, Tag},
        props: ["article"],
        data() {
            return {
                link: getArticleUrl(this.article.config.code)
            }
        },
        methods: {
            // getText() {
            //     let text = this.article.components
            //         .filter(component => component.type === "text")
            //         .map(el => el.text)
            //         .join("\n");
            //
            //     const trimCount = 300;
            //
            //     if (text.length > trimCount) {
            //         text = text.slice(0, trimCount - 3) + "...";
            //     }
            //     return text;
            // }
        }
    }
</script>

<style scoped>
    .search-item-full {
        background: white;
        border-radius: 10px;
        border: 1px solid transparent;
        min-height: 120px;
        margin: 10px;
        box-shadow: 0 0 4px gray;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .search-preview-image {
        height: 360px;
        width: 360px;
        object-fit: cover;
    }

    .search-preview-title {
        font-weight: bold;
        font-size: 30px;
        color: black;
    }

    .search-preview-text-block {
        margin-left: 10px;
    }

    .search-item-date {

    }
</style>