<template>
    <div style="display: inline-block">
        <Popper ref="popper"
                @show="isShowing = true"
                @hide="isShowing = false"
                @mouseleave.native="onMouseLeave"
                @mouseover.native="onHover"
                :options="{placement: 'right-start'}"
                trigger="clickToOpen">
            <span ref="fn" class="footnote">
                {{data.footnote}}
            </span>
            <span class="replacing-text" slot="reference">{{data.text}}</span>
        </Popper>
    </div>
</template>

<script>

    import Popper from 'vue-popperjs';

    export default {
        name: "Footnote",
        components: {Popper},
        props: ["data"],
        data() {
            return {
                isShowing: false
            }
        },
        methods: {
            onHover(event) {
                if (!this.isShowing) {
                    event.target.click()
                }
            },
            onMouseLeave() {
                this.$refs.popper.showPopper = false
            }
        },
    }
</script>

<style scoped>
    .footnote {
        background: black;
        color: white;
        border-radius: 5px;
        padding: 4px 10px;
        margin-top: 25px;
        z-index: 100;
        word-break: break-word;
        max-width: 500px;
    }

    .replacing-text {
        display: inline;
        color: darkslategrey;
        text-decoration: underline;
        text-decoration-style: wavy;
    }

    .replacing-text:hover {
        color: chocolate;
    }
</style>