<template>
    <a class="lnk" :href="data.link">{{data.text}}</a>
</template>

<script>

    import "@/styles/base.css"

    export default {
        name: "Link",
        props: ["data"]
    }
</script>

<style scoped>

</style>