<template>
    <div ref="text">
        <component v-for="(component, index) in content" :key="index" :data="component.data" :is="component.type"/>
    </div>
</template>

<script>

    // import {VueContext} from 'vue-context';
    import Popper from 'vue-popperjs';

    import Footnote from "./Footnote";
    import SimpleText from "./SimpleText";
    import Link from "./Link";

    export default {
        name: "ReadingBlockText",
        props: ["block", "articleCode"],
        // eslint-disable-next-line vue/no-unused-components
        components: {Footnote, Popper, SimpleText, Link},
        data: function () {
            return {
                footnote: String,
                content: []
            };
        },
        created() {
            const str = this.block.text

            console.log(str)

            this.content.push({type: "SimpleText", data: {text: str}})

            const linkRegExp = new RegExp("\\[link=([^&]*)&text=([^\\]]*)]", "g")
            // str = str.replace(linkRegExp, '<a class="ll" style="color: mediumblue; text-decoration: underline" href="//$1">$2</a>')

            // let res = Array.from(str.matchAll(linkRegExp))

            const footnoteRegExp = new RegExp("\\[footnote=([^&]*)&text=([^\\]]*)]", "g")

            this.runConverter(linkRegExp, "Link", (entry) => {
                return {text: entry[2], link: entry[1]}
            })

            this.runConverter(footnoteRegExp, "Footnote", (entry) => {
                return {text: entry[2], footnote: entry[1]}
            })


            // res = Array.from(str.matchAll(footnoteRegExp))
            //
            // let from = 0
            // res.forEach(footnoteEntry => {
            //     if (footnoteEntry.index > from)
            //         this.content.push({type: "SimpleText", data: {text: str.substring(from, footnoteEntry.index)}})
            //     this.content.push({type: "Footnote", data: {text: footnoteEntry[2], footnote: footnoteEntry[1]}})
            //     from = footnoteEntry.index + footnoteEntry[0].length
            // })
            //
            // if (from < str.length)
            //     this.content.push({type: "SimpleText", data: str.substring(from)})
        },
        methods: {
            // eslint-disable-next-line no-unused-vars
            runConverter(regexp, typename, dataFromEntry) {
                const newArr = []
                this.content.forEach(component => {
                    if (component.type === "SimpleText") {
                        const str = component.data.text
                        const res = Array.from(str.matchAll(regexp))
                        let from = 0
                        res.forEach(entry => {
                            if (entry.index > from)
                                newArr.push({type: "SimpleText", data: {text: str.substring(from, entry.index)}})
                            newArr.push({type: typename, data: dataFromEntry(entry)})
                            from = entry.index + entry[0].length
                        })

                        if (from < str.length)
                            newArr.push({type: "SimpleText", data: {text: str.substring(from)}})
                    } else {
                        newArr.push(component)
                    }
                })
                this.content.splice(0, this.content.length)
                newArr.forEach(component => {
                    this.content.push(component)
                })

                console.log(this.content)
            }
        },
        mounted() {
            switch (this.block.config.blockType) {
                case "title":
                case "subtitle":
                case "lead":
                case "sidebar": {
                    this.$refs.text.classList.add("type-" + this.block.config.blockType);
                    break;
                }
                default: {
                    this.$refs.text.classList.add("type-simple");
                    break;
                }
            }
        },
    }
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
    .article-text-block {
        color: black;
    }

    .type-simple {
        font-size: 16pt;
        color: #2c2c2c;
    }

    .type-title {
        font-size: 48pt;
        font-weight: bolder;
    }

    .type-subtitle {
        font-size: 32pt;
        font-weight: bold;
    }

    .type-lead {
        font-size: 24pt;
    }

    .type-sidebar {
        color: gray;
        font-size: 14pt;
        margin-left: 40px;
    }

    .abbr {
        position: relative;
        color: #7ec699;
    }

    .abbr:hover::after {
        position: absolute;
        bottom: 100%;
        left: 100%;
        display: block;
        padding: 1em;
        background: yellow;
        content: attr(title);
    }

    .ll {
        background: #2fa3e7;
    }

    .ll2 {
        background: yellow;
    }

</style>