<template>
    <div>
        <ArticleAudioPlayer v-for="(element, index) in block.audios" :key="index" :url="getAudio(element.audio)">
            <template slot="info">
                <div style="padding-bottom: 10px;">
                    <div class="audio-title">
                        {{element.name}}
                    </div>
                    <div class="audio-info">
                        {{element.info}}
                    </div>
                </div>
            </template>
        </ArticleAudioPlayer>
    </div>
</template>

<script>
    import {getBlobUri} from "../../../../main";
    import ArticleAudioPlayer from "../../../common/ArticleAudioPlayer";

    export default {
        name: "ReadingBlockAudio",
        props: ["block", "articleCode"],
        components: {ArticleAudioPlayer},
        methods: {
            getAudio(code) {
                return getBlobUri(code, this.articleCode);
            }
        },
        created() {
            // this.$loadScript("https://connect.soundcloud.com/sdk/sdk-3.3.2.js")
        }
    }
</script>

<style scoped>

</style>