<template>
    <div class="reading-image-block">
        <VueSlickCarousel :arrows="false" :variableWidth="false" :infinite="false" :dots="true" class="carousel">
            <ArticleImage
                    style="margin-right: 100px"
                    v-for="(element, index) in block.images"
                    :key="index"
                    :note="element.note"
                    :article-code="articleCode"
                    :image-code="element.image"/>

        </VueSlickCarousel>
    </div>
</template>

<script>
    import ArticleImage from "../../../common/ArticleImage";
    import VueSlickCarousel from "vue-slick-carousel";
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

    export default {
        name: "ReadingBlockImage",
        components: {ArticleImage, VueSlickCarousel},
        props: ["block", "articleCode"]
    }
</script>

<style scoped>
    .reading-image-block {
        display: flex;
    }

    .carousel {
        width: 100%;
    }

    .custom-arrow {
        color: blue;
    }
</style>