<template>
    <BaseBlock :index="index">
        <ImageUploader :data="data"/>
    </BaseBlock>
</template>

<script>
    import BaseBlock from "./BaseBlock";

    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
    import ImageUploader from "../ImageUploader";


    import {getBlobUri} from "../../../../main";

    export default {
        name: "ImageBlock",
        data: function () {
            return {
                images: [],
            };
        },
        components: {ImageUploader, BaseBlock},
        props: {
            index: {
                required: true,
                type: Number,
            },
            data: Array,
            maxCount: {
                default: -1
            },
            component: undefined,
            articleCode: undefined,
        },
        methods: {
            loadFromArticle(){
                if (this.component && this.articleCode) {
                    this.component.images.forEach(image => {
                        this.data.push({url: getBlobUri(image.image, this.articleCode), note: image.note, idOnServer: image.image})
                    })
                }
            },
        },
        watch: {
            articleCode() {
                this.loadFromArticle()
            }
        },
        created() {
            this.loadFromArticle()
        }
    }
</script>

<style scoped>

    .image-view-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: content-box;
        width: 60%;
    }

    .image-view {
        margin-bottom: 10px;
        object-fit: scale-down;
        object-position: left;
        background-size: contain;
        width: 100%;
        max-height: 400px;
    }

    .carousel {
        margin: 10px 0;
    }

    .note-input {
        width: 100%;
        box-sizing: border-box;
    }

    .upload-button {
        cursor: pointer;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
    }

    .image-upload-text {
        padding-left: 10px;
        font-size: 12pt;
        height: 100%;
        padding-top: 4px;
    }

    .remove-button {
        color: darkred;
        border: 1px solid transparent;
        background: transparent;
        padding: 0;
        cursor: pointer;
        font-size: 12pt;
        margin-top: 5px;
    }

    .remove-button:hover {
        color: red;
    }
</style>