<template>
    <BaseBlock :index="index" :data="settings">
        <textarea
                ref="block"
                id="text"
                :class="['writing-text-block', 'article-text-input', typeStyle]"
                :min-height="30"
                @input="update"
                :autosize="true"
                v-model="datad"
                :important="true"
                @contextmenu="onContextMenu"
                placeholder="Your text"/>

        <vue-context ref="contextMenu">
            <div v-for="(option, index) in textActions" :key="index" class="context-item" @click="option.action">
                {{option.name}}
            </div>
        </vue-context>

    </BaseBlock>
</template>

<script>

    import {VueContext} from 'vue-context';

    import WritingStore from "@/store/writing_page_store";

    import "@/styles/writing.scss";
    import "@/styles/article.css";
    import BaseBlock from "./BaseBlock";

    export default {
        name: "TextBlock",
        components: {
            BaseBlock,
            // VueSimpleContextMenu,
            VueContext
        },
        props: ["index", "data", "component", "showing"],
        data() {
            return {
                store: WritingStore,
                style: "simple",
                datad: this.data,
                textActions: [
                    {
                        name: "Add link",
                        action: this.addLink
                    },
                    {
                        name: "Add note",
                        action: this.addNote
                    },
                ],
                selected: {startPos: -1, endPos: -1}
            }
        },
        methods: {
            resize(){
                const area = this.$refs.block
                if (area) {
                    this.$nextTick(() => {
                        area.style.height = '0px';
                        area.style.height = 'auto';
                        area.style.height = (area.scrollHeight + 10) + 'px';
                    })
                }
            },
            update() {
                this.resize()
                this.$emit("datachange", this.index, this.datad)
            },
            // eslint-disable-next-line no-unused-vars
            onContextMenu(event) {
                this.selected = this.getSelectedRange(this.$refs.block.$el)

                event.preventDefault()
                this.$refs.contextMenu.open(event)
                this.$nextTick(() => {
                    this.selectRange(this.$refs.block.$el, this.selected.startPos, this.selected.endPos)
                })

            },
            getSelectedRange(textElement) {
                let selected;

                if (textElement.selectionStart !== undefined) {// Standards Compliant Version
                    const startPos = textElement.selectionStart;
                    const endPos = textElement.selectionEnd;
                    selected = {startPos, endPos}
                } else if (document.selection !== undefined) {// IE Version
                    textElement.focus();
                    const sel = document.selection.createRange();
                    selected = {startPos: sel.startOffset, endPos: sel.startOffset + sel.text.length}
                }

                return selected;
            },
            selectRange(e, start, end) {
                e.focus();
                if (e.setSelectionRange)
                    e.setSelectionRange(start, end);
                else if (e.createTextRange) {
                    e = e.createTextRange();
                    e.collapse(true);
                    e.moveEnd('character', end);
                    e.moveStart('character', start);
                    e.select();
                }
            },
            addLink() {
                const from = this.selected.startPos
                const to = this.selected.endPos
                const str = this.datad

                const link = window.prompt("Input link address")

                let linkText;

                if (from === to) {
                    linkText = window.prompt("Input link replacing text")
                } else {
                    linkText = str.substring(from, to)
                }

                this.datad = str.substring(0, from) + "[link=" + link + "&text=" + linkText + "]" + str.substring(to)
            },
            addNote() {
                const from = this.selected.startPos
                const to = this.selected.endPos
                const str = this.datad

                const link = window.prompt("Input abbreviation explanation")

                let linkText;

                if (from === to) {
                    linkText = window.prompt("Input abbreviation")
                } else {
                    linkText = str.substring(from, to)
                }

                this.datad = str.substring(0, from) + "[footnote=" + link + "&text=" + linkText + "]" + str.substring(to)
            },
        },
        computed: {
            typeStyle() {
                if (this.store.getters.textBlockTypes.includes(this.style)) {
                    return "type-" + this.style;
                } else {
                    return "type-" + this.store.getters.textBlockTypes[0];
                }
            },
            settings() {
                return this.store.getters.textBlockTypes.map(el => {
                    return {
                        // eslint-disable-next-line no-unused-vars
                        title: el, action: (i, index) => {
                            this.style = this.store.getters.textBlockTypes[i];
                        }
                    }
                });
            }
        },
        watch: {
            style(value) {
                this.store.commit("onTextBlockStyleChanged", {index: this.index, style: value});
            },
            data(value) {
                this.datad = value
            },
            typeStyle() {
                this.resize()
            },
            showing(value) {
                if (value) {
                    this.resize()
                }
            },
            component(value) {
                if (value) {
                    this.datad = value.text
                }
            },
        },
        created() {
            if (this.component) {
                this.datad = this.component.text

                switch (this.component.config.blockType) {
                    case "title":
                    case "subtitle":
                    case "lead":
                    case "sidebar": {
                        this.style = this.component.config.blockType
                        break;
                    }
                    default: {
                        this.style = "simple"
                        break;
                    }
                }
                this.update()
            }
        },
    }
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>

    @import '~vue-context/dist/css/vue-context.css';


    .writing-text-block {
        width: 100%;
        box-sizing: border-box;
    }

    .context-item {
        color: black;
        height: 35px;
        align-items: center;
        display: flex;
        padding-left: 10px;
    }

    .context-item:hover {
        cursor: pointer;
        background: lightgrey;
    }
</style>