<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>front</title>
</head>
<body style="display: flex; flex-direction: column; margin: 0; min-height: 100vh">

<noscript>
    <strong>
        We're sorry but front doesn't work properly without JavaScript enabled. Please enable it to continue.
    </strong>
</noscript>

<main>
    <div id="app"></div>
</main>

</body>
</html>
