<template>
    <div class="main-card">
        <router-link class="preview-container" :to="link">
            <ArticleImage class="preview-image" :article-code="article.config.code"
                          :image-code="article.config.preview"/>
        </router-link>
        <div class="preview-text-block">
            <div style="padding-bottom: 10px">
                <span class="article-tag">MAIN</span>
                <ArticleType :value="article.config.type" />
                <Tag
                        v-for="(tag, index) in article.config.tags"
                        :key="index"
                        :value="tag" />
            </div>
            <div class="preview-title">
                <router-link :to="link">
                    {{article.config.name}}
                </router-link>
            </div>
            <div>{{getArticleDate(article)}}</div>
        </div>
    </div>
</template>

<script>

    import ArticleImage from "../common/ArticleImage";
    import ArticleType from "../article/reading/ArticleType";

    import "../../styles/article.css";
    import Tag from "../article/reading/Tag";

    export default {
        name: "MainArticlePreview",
        components: {Tag, ArticleType, ArticleImage},
        props: {
            article: {
                required: true,
                type: Object
            }
        },
        data: function () {
            return {
                link: "/read/" + this.article.config.code
            };
        },
        methods: {
            getArticleDate(article) {
                const date = new Date(article.config.lastModifiedDate);

                return date.toLocaleDateString("ru");
            },
        },
    }

</script>

<style>

    @media {
        .main-card {
            background: white;
            border-radius: 10px;
            border: 1px solid transparent;
            min-height: 120px;
            margin: 10px;
            box-shadow: 0 0 4px gray;
            display: flex;
            flex-direction: column-reverse;
            padding: 10px;
        }

        .preview-container {
            width: 100%;
        }

        .preview-text-block {
            width: 100%;
            float: left;
            word-break: break-word;
            margin-bottom: 10px;
        }
    }

    @media (min-width: 780px) {
        .main-card {
            background: white;
            border-radius: 10px;
            border: 1px solid transparent;
            min-height: 120px;
            margin: 10px;
            box-shadow: 0 0 4px gray;
            display: flex;
            flex-direction: row;
            padding: 10px;
        }

        .preview-container {
            width: 60%;
        }

        .preview-text-block {
            width: 100%;
            float: left;
            word-break: break-word;
            margin-left: 10px;
        }
    }

    .preview-image {
        width: 100%;
        height: auto;
    }

    .preview-title {
        font-size: 30px;
        font-weight: bold;
    }

    .preview-tag {
        font-style: italic;
    }

    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .article-tag {
        margin-right: 10px;
    }
</style>