<template>
    <BasePage>
        <div ref="content">
            <MainArticlePreview v-if="mainArticle" :article="mainArticle" />
            <div class="grid">
                <ArticlePreview v-for="(article, index) in articles" :key="index" :article="article"/>
            </div>
        </div>
        <div class="empty-page" v-if="articles.length === 0 && !mainArticle">
            No articles for this category yet
        </div>
    </BasePage>
</template>

<script>
    // eslint-disable-next-line no-unused-vars
    import {SERVER} from "../server-coordinator";
    import ArticlePreview from "./ArticlePreview";
    import BasePage from "../common/BasePage";

    import "../../styles/page.css"
    import MainArticlePreview from "./MainArticlePreview";

    import {BasePageContentBus} from "../common/BasePage";

    export default {
        name: "TypedTab",
        components: {MainArticlePreview, BasePage, ArticlePreview},
        data() {
            return {
                types: [
                    "review",
                    "compilation",
                    "podcast",
                    "longread"
                ],
                currentType: "review",
                articles: [],
                mainArticle: undefined,
                loading: false,
                loadCount: 7
            }
        },
        methods: {
            articlesEqual(article, anotherArticle) {
                return article.config.code === anotherArticle.config.code
            },
            getBottomScroll() {
                return this.$refs.content.scrollHeight - window.scrollY
            },
            onScrollBottom(value) {
                if (value <= window.innerHeight) {
                    this.loadMoreData()
                }
            },
            loadMoreData() {
                if (this.loading)
                    return

                this.loading = true

                const loaded = this.articles.map(element => element.config.code)

                if (this.mainArticle) {
                    loaded.push(this.mainArticle.config.code)
                }

                SERVER
                    .get("/article/last", {
                        params: {
                            type: this.currentType,
                            count: this.loadCount,
                            except: loaded.join(),
                        }
                    })
                    .then(response => {
                        response.data.forEach(el => {
                            if (!(this.mainArticle && this.articlesEqual(this.mainArticle, el)))
                                this.articles.push(el);
                        });

                        this.loading = false
                    })
                    // eslint-disable-next-line no-unused-vars
                    .catch(e => {
                        this.loading = false
                    });
            },
            updateData(type) {
                this.currentType = type
                this.mainArticle = undefined
                this.articles.splice(0, this.articles.length);

                SERVER
                    // .get("/article/last", {params: {type: "all"}})
                    .get("/article/last", {
                        params: {
                            type: type,
                            count: this.loadCount,
                        }
                    })
                    .then(response => {
                        console.log(response.data);
                        // this.articles.concat(response.data);

                        response.data.forEach(el => {
                            if (!(this.mainArticle && this.articlesEqual(this.mainArticle, el)))
                                this.articles.push(el);
                        });

                        console.log(this.articles.length);
                    });

                SERVER
                    .get("/article/main", {params: {type: type}})
                    .then(response => {
                        console.log("main", response.data);

                        this.mainArticle = response.data

                        let i = this.articles.length;
                        while (i--) {
                            if (this.articlesEqual(this.mainArticle, this.articles[i])) {
                                this.splice(i, 1);
                            }
                        }

                        console.log(this.articles.length);
                    });
            }
        },
        created() {
            if (this.types.indexOf(this.$route.params.type) < 0) {
                this.$router.push({path: "/articles/review"})
            }

            BasePageContentBus.$on('scroll_bottom', this.onScrollBottom)
        },
        mounted() {
            this.updateData(this.$route.params.type)
        },
        beforeRouteUpdate(to, from, next) {
            this.updateData(to.params.type);
            next();
        }
    }
</script>

<style scoped lang="scss">

    @media ed{
        .grid {
            display: grid;
            grid-template-columns: calc(100%);
            margin: 0 auto 0;
        }
    }

    @media (min-width: 780px) {
        .grid {
            display: grid;
            grid-template-columns: calc(100% / 2) calc(100% / 2);
            margin: 0 auto 0;
        }
    }

    @media (min-width: 1080px) {
        .grid {
            display: grid;
            grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
            margin: 0 auto 0;
        }
    }

    /*.grid {*/
    /*    display: grid;*/
    /*    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);*/
    /*    margin: 0 auto 0;*/
    /*}*/
</style>