<template>
    <BasePage>
        <div id="status">
            {{userExists}}
        </div>
        <div id="fields">
            <div class="box-input">
                <p><input type="text" name="login" size="40" style="height: 20px" v-model="loginText" required/>
                    <label>Введите логин:</label>
                </p>
            </div>

            <div class="box-input">
                <p><input type="password" name="password" size="40" style="height: 20px" v-model="passwordText" required/>
                    <label>Введите пароль:</label></p>
            </div>

            <p>
                <button id="signInButton" v-on:click="login()" class="neutral-button" type="submit">Sign in!</button>
            </p>
        </div>


    </BasePage>
</template>


<script>
    import {SERVER} from "../server-coordinator";
    import BasePage from "../common/BasePage";
    import "@/styles/input.css";
    import "@/styles/buttons.css";

    export default {
        name: "LoginPage",
        components: {BasePage},
        data:
            function () {
                return {loginText: "", passwordText: "", userExists: ""};
            },

        methods:
            {
                login: function () {
                    SERVER.post('/users/login', {
                        login: this.loginText,
                        password: this.passwordText
                    }, {
                        headers: {'Content-Type': 'application/json'},
                        withCredentials: true
                    }).then(response => {
                        if (response.status === 200) {
                            this.userExists = "Вход успешно выполнен!";
                            this.$router.push("/articles/review");
                        } else {
                            this.userExists = "Ошибка входа!"
                        }
                    }).catch(this.userExists = "Некорректный логин или пароль!")
                }
            }
    }
</script>

<style scoped>

    #fields {
        margin: 0% auto 0;
        border-style: solid;
        border-width: 12px;
        flex-grow: 1;
        width: 35%;
        height: 300px;
    }

    #signInButton {
        position: relative;
        margin-left: 19%;
        margin-top: -25%;;
        height: 50px;
        width: 150px;
    }

    #status {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 2%;
        color: red;
        font-size: 25px;
    }

    p {
        margin-left: 20%;
        margin-top: 10%;
    }

</style>

