.positive-button {
    background: white;
    color: dodgerblue;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid dodgerblue;
    font-weight: bold;
    padding: 5px;
}

.positive-button:hover {
    background: dodgerblue;
    color: white;
}

.negative-button {
    background: white;
    color: red;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid red;
    font-weight: bold;
    padding: 5px;
}

.negative-button:hover {
    background: red;
    color: white;
}

.neutral-button {
    background: white;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
}

.neutral-button:hover {
    background: black;
    color: white;
}