.box-input
{
    position: relative;
}

.box-input input
{
    border: none;
    border-bottom: 2px solid #e9eaea;
    padding: 10px 10px;
}
.box-input label
{
    position: absolute;
    top: -25%;
    left: 23%;
    padding-top: 5%;
    color: black;
    transition: .5s;pointer-events: none;
}
.box-input input:focus~label,
.box-input input:valid ~ label
{
    top: -120%;
    left: 21%;
    font-size: 14px;
    color: green;
}