<template>
    <BasePage>
        <div id="status">
            {{userExists}}
        </div>
        <div>
            <div id="fields">
                <div class="box-input">
                    <p><input type="password" name="password" size="40" style="height: 20px" v-model="passwordText"
                              required/>
                        <label>Введите код регистрации:</label></p>
                </div>
                <div class="box-input">
                    <p><input type="text" name="login" size="40" style="height: 20px" v-model="loginText" required/>
                        <label>Введите логин:</label>
                    </p>
                </div>

                <div class="box-input">
                    <p><input type="password" name="password" size="40" style="height: 20px" v-model="passwordText"
                              required/>
                        <label>Введите пароль:</label></p>
                </div>
                <p>
                    <button id="signInButton" v-on:click="register()" class="neutral-button" type="submit">Sign up!
                    </button>
                </p>
            </div>


        </div>
    </BasePage>
</template>

<script>
    import {SERVER} from "../server-coordinator";
    import "@/styles/input.css";
    import BasePage from "../common/BasePage";
    import "@/styles/buttons.css";

    export default {
        name: "RegisterPage",
        components: {BasePage},
        data:
            function () {
                return {loginText: "", passwordText: "", userExists: "", codeText: ""};
            },


        methods:
            {
                register: function () {
                    SERVER.post('/users/key/check_key', null, {params: {key: this.codeText}}).then(response => {
                        if (response.status === 200) {
                            SERVER.post('/users/register', {
                                login: this.loginText,
                                password: this.passwordText
                            }, {
                                headers: {'Content-Type': 'application/json'},
                                withCredentials: true
                            }).then(response => {
                                if (response.status === 200) {
                                    this.userExists = "Регистрация успешна!";
                                    this.$router.push("/articles/review");
                                } else {
                                    this.userExists = "Ошибка регистрации!"
                                }
                            }).catch(this.userExists = "Некорректные данные для регистрации!")

                        } else {
                            this.userExists = "Ошибка входа!";
                        }
                    }).catch(this.userExists = "Некорректные данные для регистрации!");
                }
            }
    }
</script>

<style scoped>
    #fields {
        margin: 0% auto 0;
        border-style: solid;
        border-width: 12px;
        flex-grow: 1;
        width: 35%;
        height: 400px;
    }

    #signInButton {
        position: relative;
        margin-left: 19%;
        margin-top: -25%;;
        height: 50px;
        width: 150px;
    }

    #status {
        display: flex;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 2%;
        color: red;
        font-size: 25px;
    }

    p {
        margin-left: 20%;
        margin-top: 10%;
    }

</style>