<template>
    <BasePage>
        <div id="page">
            <div class="about-category">
                <div class="about-category-title">
                    О нас
                </div>
                <div>
                    Мы — маленькая команда любителей кино, которая собирает вокруг себя команду любителей кино побольше.
                    Наш коллектив давно существует ВКонтакте, где мы отбираем альтернативные кинопостеры, интересные
                    видеоэссе, занятные киноновости и делимся ими с подписчиками. Сейчас мы решили-таки двигаться к
                    полноценному формату СМИ, поэтому стали активно аккредитоваться на показы и публиковать авторские
                    тексты: рецензии, интервью, колонки, а также переводы англоязычных материалов
                </div>
            </div>

            <div class="about-category">
                <div class="about-category-title">
                    Авторы
                </div>
                <div id="authors-container">
                    <AuthorView
                            class="author-view"
                            v-for="(author, index) in authors"
                            :key="index" :author="author"/>
                </div>
            </div>

            <div class="about-category">
                <div class="about-category-title">
                    Приглашённые авторы
                </div>
                <div>
                    Мы — маленькая команда любителей кино, которая собирает вокруг себя команду любителей кино побольше.
                </div>
            </div>
        </div>
    </BasePage>
</template>

<script>
    /* eslint-disable no-unused-vars,vue/no-unused-components */

    import BasePage from "../common/BasePage";
    import AuthorView from "./AuthorView";
    import {SERVER} from "../server-coordinator";

    export default {
        name: "AboutUsPage",
        components: {AuthorView, BasePage},
        data() {
            return {
                authors: []
            }
        },
        mounted() {
            SERVER
                .get("/users/authors/all")
                .then(response => {
                    response.data.forEach(author => {
                        this.authors.push(author);
                    })
                })
                .catch(e => {
                })
        }
    }
</script>

<style scoped>
    #page {
        margin: 0 auto 0;
    }

    .about-category {
        margin-bottom: 40px;
    }

    .about-category-title {
        color: black;
        font-size: 36pt;
        font-weight: bold;
    }

    .author-view {
        margin: 5px;
    }

    #authors-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>