<template>
    <div class="author-view">
        <router-link :to="'/author/'+ author.id" >
            <img class="author-image" @error="setDefaultPhoto(true)" :src="photo">
        </router-link>
        <router-link :to="'/author/'+ author.id" class="author-name">
            {{this.author.name}}
        </router-link>
    </div>
</template>

<script>

    import {SERVER} from "../server-coordinator";

    export default {
        name: "AuthorView",
        props: {
            author: {
                required: true,
                type: Object,
            }
        },
        data() {
            return {
                defaultPhoto: false,
            }
        },
        methods: {
            setDefaultPhoto(value) {
                this.defaultPhoto = value
            },
        },
        computed: {
            photo() {
                return this.defaultPhoto ? require("@/assets/avatars/default.jpg") : SERVER.defaults.baseURL + "/users/authors/avatar?id=" + this.author.id
            },
        }
    }
</script>

<style scoped>
    .author-name {
        font-weight: bold;
        color: black;
        font-size: 18pt;
        display: flex;
        justify-content: center;
    }

    .author-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
</style>