<template>
    <div class="audio-player">
        <slot name="info"></slot>

        <audio ref="player" :src="url"/>

        <div class="audio-controls">
            <div class="control-buttons-container">
                <button class="controls-button" @click="playOrPause($event.currentTarget)" id="audio-play">
                    <img width="50px" height="50px" ref="play" src="@/assets/play-icon.svg">
                </button>
                <button class="controls-button small-button" @click="changeSpeed($event.currentTarget)" id="audio-speed">
                    {{speed}}x
                </button>
                <button class="controls-button small-button" @click="rewind" id="audio-rewind">
                </button>
                <button class="controls-button small-button" @click="fastForward" id="audio-forward">
                </button>
            </div>
            <input class="audio-seek" type="range" ref="seek" name="volume" min="0" value="0">
            <div style="display: flex; justify-content: space-between">
                <div>
                    {{currentTime}}
                </div>
                <div>
                    {{allTime}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ArticleAudioPlayer",
        props: {
            url: {
                required: true,
                type: String
            }
        },
        data() {
            return {
                currentTime: "00:00",
                allTime: "00:00",
                speed: 1
            }
        },
        methods: {
            playOrPause() {
                if (this.$refs.player.paused) {
                    this.$refs.player.play();
                } else {
                    this.$refs.player.pause();
                }
            },
            // eslint-disable-next-line no-unused-vars
            changeSpeed(button) {
                this.$refs.player.playbackRate = this.$refs.player.playbackRate === 1 ? 2 : 1;
                this.speed = this.$refs.player.playbackRate;
            },
            fastForward() {
                this.$refs.player.currentTime += 10;
            },
            rewind() {
                this.$refs.player.currentTime -= 10;
            },
            getImageAsset(image) {
                return require('@/assets/' + image)
            },
            formatSeconds(secs) {
                secs = Math.round(secs);
                let hours = Math.floor(secs / (60 * 60));

                const divisor_for_minutes = secs % (60 * 60);
                let minutes = Math.floor(divisor_for_minutes / 60);

                const divisor_for_seconds = divisor_for_minutes % 60;
                let seconds = Math.ceil(divisor_for_seconds);

                // console.log(hours + ":" + minutes + ":" + seconds);

                if (seconds < 10) {
                    seconds = "0" + seconds;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                if (hours < 10) {
                    if (hours < 1) {
                        return minutes + ":" + seconds;
                    }
                    hours = "0" + hours;
                }

                return hours + ":" + minutes + ":" + seconds;
            }
        },
        mounted() {
            this.$refs.player.addEventListener("play", () => {
                this.$refs.play.src = this.getImageAsset("pause-icon.svg")
            });
            this.$refs.player.addEventListener("pause", () => {
                this.$refs.play.src = this.getImageAsset("play-icon.svg")
            });
            this.$refs.player.addEventListener("ended", () => {
                this.$refs.play.src = this.getImageAsset("play-icon.svg")
            });
            this.$refs.player.addEventListener("durationchange", () => {
                const value = this.$refs.player.duration;
                this.$refs.seek.max = value;
                this.allTime = this.formatSeconds(value);
            });
            this.$refs.player.addEventListener("timeupdate", () => {
                const value = Math.floor(this.$refs.player.currentTime);
                this.$refs.seek.value = value;
                this.currentTime = this.formatSeconds(value);
            });
            this.$refs.seek.addEventListener("input", () => {
                this.$refs.player.currentTime = this.$refs.seek.value;
                this.currentTime = this.formatSeconds(this.$refs.seek.value);
                // this.$refs.seek.style.background = 'linear-gradient(to right, #82CFD0 0%, #82CFD0 ' + this.$refs.seek.value + '%, #fff ' + this.$refs.seek.value + '%, white 100%)'
            });
        },
    }
</script>

<style scoped lang="scss">
    @function asset($path) {
        @return url("~@/assets/#{$path}");
    }

    $buttonSize: 30px;

    .audio-player {
        border: 1px solid black;
        padding: 5px;
    }

    .control-buttons-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: fit-content;
        gap: 10px;
        padding: 10px 0;
    }

    /*.control-buttons-container > button {*/
    /*    margin: 5px;*/
    /*}*/

    .controls-button {
        min-height: $buttonSize;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: inline-flex;
        padding: 0;
    }

    .small-button {
        height: $buttonSize;
        width: $buttonSize;
        background-repeat: no-repeat;
        background-size: $buttonSize $buttonSize;
    }

    #audio-speed {
        background-image: asset("circle.svg");
        font-size: 10px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }

    #audio-forward {
        background-image: asset("fast-forward.svg");
    }

    #audio-rewind {
        background-image: asset("rewind.svg");
    }

    .audio-seek {
        box-sizing: border-box;
        width: 100%;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        background: black;
        border-radius: 6px;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: white;
        border-radius: 8px;
        border: 1px solid black;
    }

    input[type="range"]::-moz-range-progress {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: black;
        border-radius: 8px;
    }

    input[type=range]::-moz-range-thumb {
        border: 0 solid transparent;
        height: 20px;
        width: 20px;
        border-radius: 15px;
        background: black;
        cursor: pointer;
    }
</style>