<template>
    <div v-show="imageCode !== '0'">
        <div class="image-container">
            <ImageHelper :article-code="articleCode" :image-code="imageCode" />
            <span class="image-note" v-if="note">
                {{note}}
            </span>
        </div>
    </div>
</template>

<script>
    import {getBlobUri} from "../../main";
    import ImageHelper from "./ImageHelper";

    export default {
        name: "ArticleImage",
        components: {ImageHelper},
        props: {
            articleCode: {
                required: true,
                type: String
            },
            imageCode: {
                required: true,
                type: String
            },
            note: {
                required: false,
                type: String
            },
        },
        methods: {
            getUrl() {
                return getBlobUri(this.imageCode, this.articleCode);
            }
        }
    }
</script>

<style scoped>
    .image-note {
        font-size: 12pt;
        color: gray;
        width: 100%;
        text-align: center;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-container > img {
        object-fit: scale-down;
        object-position: center;
        background-size: contain;
    }
</style>