<template>
    <div ref="pageroot">
        <div ref="headerCont" style="display: flex">
            <slot ref="sloot" name="header" v-if="showHeader">
                <Header v-on:height-computed="updateContentMargin" ref="header" id="header"/>
            </slot>
        </div>
        <div class="content" ref="content">
            <slot></slot>
        </div>

        <footer ref="footer" v-if="showFooter">
            <slot name="footer" v-if="showFooter">
                <Footer />
            </slot>
        </footer>
    </div>
</template>

<script>
    import Header from "./Header";
    import Footer from "./Footer";
    import Vue from "vue";

    export const BasePageContentBus = new Vue()

    export default {
        name: "HeaderPage",
        components: {Footer, Header},
        props: {
            showHeader: {
                default: true,
                type: Boolean
            },
            showFooter: {
                default: true,
                type: Boolean
            },
            footerComponent: {
                default: "Footer",
                type: String
            }
        },
        methods: {
            updateContentMargin(headerHeight) {
                this.$refs.content.style.marginTop = headerHeight + "px";
            },
            onScroll() {
                // const headerHeight = this.$refs.headerCont.firstChild.clientHeight

                const footerHeight = this.$refs.footer ? this.$refs.footer.clientHeight : 0

                BasePageContentBus.$emit("scroll_bottom", this.$refs.pageroot.clientHeight - window.scrollY - window.innerHeight - footerHeight)
            }
        },
        created() {
            window.addEventListener('scroll', this.onScroll);
        }
    }
</script>

<style scoped>
    #header {
        position: fixed;
        z-index: 999;
        top: 0;
        background: white;
        padding-left: 50px;
        padding-right: 50px;
    }

    @media {
        .content {
            padding: 20px 0;
            min-height: 100vh
        }
    }

    @media (min-width: 600px) {
        .content {
            padding: 20px 50px;
            min-height: 100vh
        }
    }
</style>