<template>
    <img class="helper-image" :src="getUrl()">
</template>

<script>
    import {getBlobUri} from "../../main";

    export default {
        name: "ImageHelper",
        props: {
            articleCode: {
                required: true,
                type: String
            },
            imageCode: {
                required: true,
                type: String
            },
        },
        methods: {
            getUrl() {
                return getBlobUri(this.imageCode, this.articleCode);
            }
        }
    }
</script>

<style scoped>
    .helper-image {
        width: 100%;
        height: 100%;
    }
</style>