<template>
    <div :class="['buttons-container', {'visible': isVisible}, {'hidden': !isVisible}]">

        <Popper trigger="hover">
            <div class="menu">
                <div @click="addBlockAfter(variant)" class="add-item" v-for="(variant, i) in addVariants" :key="i">
                    {{variant}}
                </div>
            </div>
            <button slot="reference" class="button-item" alt="add">
                <img class="button-image" src="@/assets/add-icon.svg">
            </button>
        </Popper>

        <Popper trigger="hover" v-if="data">
            <div class="menu">
                <div @click="setting.action(i, index)" class="add-item" v-for="(setting, i) in data" :key="i">
                    {{setting.title}}
                </div>
            </div>

            <button slot="reference" class="button-item" alt="add">
                <img class="button-image" src="@/assets/settings-icon.svg">
            </button>
        </Popper>

        <button v-if="showDelete" class="button-item" @click="deleteBlock" alt="delete">
            <img class="button-image" src="@/assets/delete-icon.svg">
        </button>
    </div>
</template>

<script>
    import {BlocksEventBus} from "./ArticleContentTab";

    import Popper from 'vue-popperjs';
    import 'vue-popperjs/dist/vue-popper.css';
    import TreeMenu from "./TreeMenu";


    export default {
        name: "AddNewBlock",
        // eslint-disable-next-line vue/no-unused-components
        components: {TreeMenu, Popper},
        props: {
            index: {
                type: Number,
                required: true,
            },
            showDelete: {
                type: Boolean,
                default: true
            },
            data: {
                type: Array
            },
        },
        data() {
            return {
                addVariants: ["text", "image", "audio"],
                isVisible: !this.showDelete
            }
        },
        methods: {
            addBlockAfter(type) {
                BlocksEventBus.$emit("newblock", {afterIndex: this.index, type: type});
            },
            deleteBlock() {
                BlocksEventBus.$emit("delete", this.index);
            },
            setVisible(value) {
                this.isVisible = value;
            },
        }
    }
</script>

<style scoped>
    .add-item {
        color: white;
        text-transform: capitalize;
        cursor: pointer;
        padding: 5px;
    }

    .button-item {
        width: 30px;
        height: 30px;
        background-size: 100%;
        background: transparent;
        border: 0;
        object-fit: cover;
        padding: 4px;
        cursor: pointer;
    }

    .button-image {
        width: 100%;
        height: 100%;
    }

    .menu {
        background: black;
        border-radius: 5px;
        z-index: 100;
    }

    .buttons-container {
        /*z-index: 200;*/
        /*position: absolute;*/
        /*margin-left: -40px;*/
        display: flex;
        flex-direction: row;
    }

    .visible {
        opacity: 1;
    }

    .hidden {
        opacity: 0;
    }
</style>