<template>
    <div>
        <div ref="content" class="grid">
            <DraftArticlePreview v-for="(article, index) in articles" :key="index" :article="article"/>
        </div>
        <div class="empty-page" v-if="articles.length === 0">
            No drafts found
        </div>
    </div>
</template>

<script>

    import {SERVER} from "../../server-coordinator";
    import DraftArticlePreview from "./DraftArticlePreview";
    import {BasePageContentBus} from "../../common/BasePage";

    export default {
        name: "DraftsTab",
        components: {DraftArticlePreview},
        props: ["showing"],
        data() {
            return {
                articles: [],
                loading: false,
            }
        },
        methods: {
            updateData() {
                SERVER
                    .get("/article/last", {params: {type: "all", visibility: "draft"}})
                    .then(response => {
                        if (this.articles.length > 0
                            && response.data.length > 0
                            && this.articles[0].config.code === response.data[0].config.code) {
                            return
                        }

                        this.articles.splice(0, this.articles.length);

                        response.data.forEach(el => {
                            this.articles.push(el);
                        });

                    });
            },
            loadMoreData() {
                if (this.loading)
                    return

                this.loading = true

                console.log("loading")
                const loaded = this.articles.map(element => element.config.code)

                SERVER
                    .get("/article/last", {
                        params: {
                            type: "all",
                            visibility: "draft",
                            except: loaded.join(),
                        }
                    })
                    .then(response => {
                        // this.articles.splice(this.articles.length, 0, ...response.data)
                        response.data.forEach(el => {
                            this.articles.push(el);
                        });
                        this.loading = false
                    })
                    // eslint-disable-next-line no-unused-vars
                    .catch(e => {
                        this.loading = false
                    });
            },
            onScroll(value) {

                if (value <= window.innerHeight && this.showing) {
                    this.loadMoreData()
                }

                console.log(value, this.showing)
            },
        },
        watch: {
            showing(val) {
                if (val) {
                    this.updateData()
                }
            }
        },
        created() {
            BasePageContentBus.$on('scroll_bottom', this.onScroll)
        }
    }
</script>

<style scoped>

    @media ed{
        .grid {
            display: grid;
            grid-template-columns: calc(100%);
            margin: 0 auto 0;
        }
    }

    @media (min-width: 780px) {
        .grid {
            display: grid;
            grid-template-columns: calc(100% / 2) calc(100% / 2);
            margin: 0 auto 0;
        }
    }

    @media (min-width: 1080px) {
        .grid {
            display: grid;
            grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
            margin: 0 auto 0;
        }
    }

</style>