<template>
    <div>
<!--        <table class="tabs">-->
<!--            <tr>-->
<!--                <td v-for="(tab, index) in tabs" :key="index">-->
<!--                    <div-->
<!--                            :class="{ 'tab-link': true, 'active-link': tab.isActive }"-->
<!--                            @click="selectTab(tab)">-->
<!--                        {{ tab.name }}-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->

        <div style="display: flex; justify-content: space-between">
            <div v-for="(tabGroup, groupIndex) in tabGroups" :key="groupIndex">
                <div style="display: inline-flex" v-for="(tab, tabIndex) in tabGroup" :key="tabIndex">
                    {{tab.name}}
                </div>
            </div>
        </div>

        <div class="tabs-details">
            <component :is="activeComponent" />
        </div>
    </div>
</template>

<script>
    export default {
        name: "TabsLayout",
        props: {
            tabGroups: [],
        },
        data() {
            return {
                leftTabs: [],
                rightTabs: [],
                activeComponent: null
            };
        },
        created() {
            // this.tabGroups = this.$children;
            // this.leftTabs = this.$refs.left.children;
            // this.rightTabs = this.$refs.right.children;

            this.tabGroups.forEach(group => {
                group.forEach(tab => {
                    if (tab.isActive) {
                        this.activeComponent = tab.component;
                    }
                })
            })

        },
        methods: {
            selectTab(selectedTab) {
                // this.tabGroups.forEach(group => {
                //     group.forEach(tab => {
                //         if (tab.isActive) {
                //             this.activeComponent = tab.component;
                //         }
                //     })
                // })

                this.activeComponent = selectedTab.component;
            }
        }
    }
</script>

<style scoped>
    .tab-link {
        color: gray;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }

    .active-link {
        color: black;
    }

</style>