<template>
    <div ref="root2">
        <div @click="addBlockAfter(variant)" class="add-item" v-for="(variant, i) in list" :key="i">
            {{variant.name}}
<!--            <TreeMenu v-if="variant.submenu" :list="variant.submenu" />-->
        </div>
    </div>
</template>

<script>
    export default {
        name: "TreeMenu",
        props: ["list"],
        mounted() {
            // this.$refs.root.$children = this.$refs.root2.$children;
        },
    }
</script>

<style scoped>

</style>